@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    background-color: #24252A;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.app{
    justify-content: center;
    width: 500px;
    margin: auto;
}

.title{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 25px;

    text-align: center;
}


.table{
    margin: auto;
    width: 500px;
}

.tbody{
    justify-content: space-between;

}

.buttonAdd{
    font-weight: bold;
    display: inline-block;
    border: 1px outset rgb(53, 106, 6);
    background-color: rgb(25, 158, 25);
    height:40px;
    width:40px;
    cursor:pointer;
    color:white;
    border-radius: 5px;

    border: none;
    text-align: center;
    font-size: 25px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.buttonAdd:hover {
    background-color: rgba(25, 158, 25, 0.8);
    color:white;
 }

 .buttonClear{
    font-weight: bold;
    display: inline-block;
    border: 1px outset rgb(116, 31, 16);
    background-color: rgb(216, 68, 24);
    height:40px;
    width:40px;
    cursor:pointer;
    color:white;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;

    border: none;
    text-align: center;
    font-size: 25px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.buttonClear:hover {
    background-color: rgba(216, 68, 24, 0.8);
    color:white;
 }

.taskInput {
    background: #fff;
    color: #24252A;
    border: none;
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9; 
  } 

.subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.deleteImage{
    width: 20px;
    border-radius: 50%;
    float: right;
    margin-right:10px;
}

td.parentElement:hover{
    background-color: red;
}

.done{
    text-decoration: line-through;
}